@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply bg-surface-950 text-slate-200 antialiased;
    }
}

/* Custom Scrollbar for professional feel */
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    @apply bg-surface-950;
}

::-webkit-scrollbar-thumb {
    @apply bg-slate-700 rounded-full;
}

::-webkit-scrollbar-thumb:hover {
    @apply bg-slate-500;
}